<main>
  <section class="controls">
    <button class="up">&uarr;</button>
    <button class="right">&rarr;</button>
    <button class="down">&darr;</button>
    <button class="left">&larr;</button>
  </section>
  <section class="g-4">
    {{#each model as |tile index|}}
      {{grid-item game=tile index=index detailPageTransition=(action 'detailPageTransition')}}
    {{/each}}
  </section>
</main>