<main>
  <section class="controls">
    <button class="up">&uarr;</button>
    <button class="right">&rarr;</button>
    <button class="down">&darr;</button>
    <button class="left">&larr;</button>
  </section>

  {{#each model as |category index|}}
  <section class="g-4">
    <section class="category">
      <div class="inner">
      {{#each category as |tile row_index|}}
        {{grid-item game=tile row=index index=row_index
          detailPageTransition=(action 'detailPageTransition')}}
      {{/each}}
      </div>
    </section>
  </section>
  {{/each}}

</main>
