& {
  &:hover {
    border: 1px solid white;
  }
  border: 1px solid black;
  position:relative;
  top: 500px;
  display: inline-block;
  opacity: 0;
  transition: opacity 250ms ease-out,
                top 250ms ease-out;
  &.transition-in {
    opacity: 1;
    top: 0;
    transition: opacity 250ms ease-out,
                top 250ms ease-out;
  }
}
