<section class="container details">

  <img class="backgroundImage" src="{{backgroundImage}}" alt="">

  {{details-metadata heroImage=heroImage name= model.name game_contentType=model.game_contentType}}

  {{details-description long_desc=model.long_desc promomedia=model.promomedia}}

</section>
